<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>jp.mediba.talknote-timeline</string>
       <key>Developer Identifier</key>
       <string>C2AGCLBW3A</string>
       <key>CFBundleVersion</key>
       <string>${ bundleVersion }</string>
       <key>CFBundleShortVersionString</key>
       <string>${ version }</string>
       <key>URL</key>
       <string>https://s3-ap-northeast-1.amazonaws.com/mediba-browser-extensions/talknote-timeline/v${ version }/talknote-timeline.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
