<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Akira Koyasu</string>
	<key>Builder Version</key>
	<string>11601.6.14</string>
	<key>CFBundleDisplayName</key>
	<string>Talknote timeline extension</string>
	<key>CFBundleIdentifier</key>
	<string>jp.mediba.talknote-timeline</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>${ version }</string>
	<key>CFBundleVersion</key>
	<string>${ bundleVersion }</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>lib/polyfill.js</string>
				<string>lib/jquery-2.2.1.min.js</string>
				<string>js/ttex.js</string>
				<string>js/content-safari.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://company.talknote.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>This extension shows timeline in news page.</string>
	<key>DeveloperIdentifier</key>
	<string>C2AGCLBW3A</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>company.talknote.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://s3-ap-northeast-1.amazonaws.com/mediba-browser-extensions/talknote-timeline/updates.plist</string>
</dict>
</plist>
