@charset "UTF-8";

.news_message li.status {
    word-wrap: break-word;
    border-bottom: 1px solid #D2D9E7;
}

.news_message li.status:hover {
    background: #FFFFF5 !important;
}

.__ttex_report_issue {
    margin: 0 7px;
}

.__ttex_readahead a:hover,
.__ttex_markread a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.__ttex_markread {
    display: table-cell;
    text-align: right;
    font-size: 10px;
}

.__ttex_readahead {
    font-size: 13px;
    margin-top: 7px !important;
    overflow: hidden;
}

.__ttex_readahead p {
    padding: 3px 5px !important;
}

.__ttex_readahead pre {
    white-space: pre-wrap;
}

.__ttex_readahead time {
    color: grey;
    font-size: 8px;
    padding: 5px 7px !important;
}

.__ttex_readahead .__ttex_read_more {
    font-size: 11px;
    border-left: 5px solid #D2D9E7;
    border-radius: 3px;
    padding: 0 20px !important;
}

.__ttex_comment {
    font-size: 12px;
    margin-right: 10px !important;
}

.__ttex_comment li {
    margin: 2px 0 !important;
    border-left: 5px solid #D2D9E7;
    border-radius: 3px;
    padding: 4px 7px 2px !important;
}

.__ttex_comment li:nth-child(even) {
    border-left-color: #D2E0E0;
}

.__ttex_comment.__ttex_hide_more li:nth-last-child(n+10) {
    display: none;
}
